<div class="wrapper">
    <header class="header">
        <h2 class="header__title">
            Portfolio
        </h2>
    </header>
    <section class="filter">
        <ul class="filter__list">
            <li class="filter__list__item activated">
                All
            </li>
            <li class="filter__list__item">
                Web design
            </li>
            <li class="filter__list__item">
                Applications
            </li>
            <li class="filter__list__item">
                Web Development
            </li>
        </ul>
    </section>
    <section class="filter-mobile">
        <div (click)="toggleFilter()" class="filter-mobile__select-group">
            <span class="filter-mobile__text">Select category</span>
            <img src="../../../../../../assets/icons/down.svg" alt="icon-down" class="filter-mobile__icon">
        </div>
        <ul class="filter-mobile__content-group" id="mobileFilterContent">
            <li class="filter-mobile__content-group__item">
                All
            </li>
            <li class="filter-mobile__content-group__item">
                Web Design
            </li>
            <li class="filter-mobile__content-group__item">
                Application
            </li>
            <li class="filter-mobile__content-group__item">
                Web Development
            </li>
        </ul>
    </section>
    <section class="project">
        <ul class="row project__list">
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-1.jpg" alt="project-1"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            Finance
                        </span>
                        <span class="project__list__item__text-group__category">
                            Web development
                        </span>
                    </div>
                </div>
            </li>
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-2.png" alt="project-2"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            Orizon
                        </span>
                        <span class="project__list__item__text-group__category">
                            Web development
                        </span>
                    </div>
                </div>
            </li>
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-3.jpg" alt="project-3"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            Fundo
                        </span>
                        <span class="project__list__item__text-group__category">
                            Web Design
                        </span>
                    </div>
                </div>
            </li>
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-4.png" alt="project-4"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            Brawlhalla
                        </span>
                        <span class="project__list__item__text-group__category">
                            Applications
                        </span>
                    </div>
                </div>
            </li>
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-5.png" alt="project-5"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            DSM.
                        </span>
                        <span class="project__list__item__text-group__category">
                            Web Design
                        </span>
                    </div>
                </div>
            </li>
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-6.png" alt="project-6"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            MetaSpark
                        </span>
                        <span class="project__list__item__text-group__category">
                            Web Design
                        </span>
                    </div>
                </div>
            </li>
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-7.png" alt="project-7"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            Summary
                        </span>
                        <span class="project__list__item__text-group__category">
                            Web development
                        </span>
                    </div>
                </div>
            </li>
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-8.jpg" alt="project-1"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            Task Manager
                        </span>
                        <span class="project__list__item__text-group__category">
                            Applications
                        </span>
                    </div>
                </div>
            </li>
            <li class="col l-4 m-6 c-12">
                <div class="project__list__item">
                    <figure class="project__list__item__image-group">
                        <img src="../../../../../../assets/images/project-9.png" alt="project-9"
                            class="project__list__item__image-group__image" loading="lazy">
                        <figure class="project__list__item__image-group__icon-group">
                            <img src="../../../../../../assets/icons/eyes.svg" alt="eyes-icon"
                                class="project__list__item__image-group__icon-group__icon" loading="lazy">
                        </figure>
                    </figure>
                    <div class="project__list__item__text-group">
                        <span class="project__list__item__text-group__name">
                            Arrival
                        </span>
                        <span class="project__list__item__text-group__category">
                            Web development
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>