<div class="wrapper">
    <header class="header">
        <h2 class="header__title">
            About Me
        </h2>
    </header>
    <section class="about-me">
        <p>
            I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media.
            I enjoy turning complex problems into simple, beautiful and intuitive designs.
        </p>
        <p>
            My job is to build your website so that it is functional and user-friendly but at the same time attractive.
            Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is
            to bring across your message and identity in the most creative way. I created web design for many famous
            brand companies.
        </p>
    </section>
    <section class="services">
        <h2 class="services__title">
            What I'm Doing
        </h2>
        <div class="row services__list">
            <div class="col l-6 m-12 c-12">
                <div class="services__list__item">
                    <div class="services__list__item__icon-box">
                        <img src="../../../../../../assets/images/icon-design.svg" alt="icon-design"
                            class="services__list__item__icon-box__icon">
                    </div>
                    <div class="services__list__item__content-box">
                        <h4 class="services__list__item__content-box__title">
                            Web design
                        </h4>
                        <p class="services__list__item__content-box__text">
                            The most modern and high-quality design made at a professional level.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l-6 m-12 c-12">
                <div class="services__list__item">
                    <div class="services__list__item__icon-box">
                        <img src="../../../../../../assets/images/icon-dev.svg" alt="icon-design"
                            class="services__list__item__icon-box__icon">
                    </div>
                    <div class="services__list__item__content-box">
                        <h4 class="services__list__item__content-box__title">
                            Web development
                        </h4>
                        <p class="services__list__item__content-box__text">
                            High-quality development of sites at the professional level.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l-6 m-12 c-12">
                <div class="services__list__item">
                    <div class="services__list__item__icon-box">
                        <img src="../../../../../../assets/images/icon-app.svg" alt="icon-design"
                            class="services__list__item__icon-box__icon">
                    </div>
                    <div class="services__list__item__content-box">
                        <h4 class="services__list__item__content-box__title">
                            Mobile apps
                        </h4>
                        <p class="services__list__item__content-box__text">
                            Professional development of applications for iOS and Android.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l-6 m-12 c-12">
                <div class="services__list__item">
                    <div class="services__list__item__icon-box">
                        <img src="../../../../../../assets/images/icon-photo.svg" alt="icon-design"
                            class="services__list__item__icon-box__icon">
                    </div>
                    <div class="services__list__item__content-box">
                        <h4 class="services__list__item__content-box__title">
                            Photography
                        </h4>
                        <p class="services__list__item__content-box__text">
                            I make high-quality photos of any category at a professional level.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <h2 class="testimonials__title">
            Testimonials
        </h2>
        <ul class="testimonials__list">
            <li (click)="toggleModal()" class="testimonials__item">
                <div class="testimonials__item__card">
                    <figure class="testimonials__item__card__avatar-box">
                        <img src="../../../../../../assets/images/avatar-1.png" alt="avatar-1"
                            class="testimonials__item__card__avatar-box__avatar">
                    </figure>
                    <h3 class="testimonials__item__card__title">
                        Daniel lewis
                    </h3>
                    <div class="testmonials__item__card__textbox">
                        <p class="testmonials__item__card__textbox__text">
                            Richard was hired to create a corporate identity. We were very pleased with the work done.
                            She has a lot of experience and is very concerned about the needs of client. Lorem ipsum
                            dolor sit amet, ullamcous cididt consectetur adipiscing elit, seds do et eiusmod tempor
                            incididunt ut laborels dolore magnarels alia.
                        </p>
                    </div>
                </div>
            </li>
            <li (click)="toggleModal()" class="testimonials__item">
                <div class="testimonials__item__card">
                    <figure class="testimonials__item__card__avatar-box">
                        <img src="../../../../../../assets/images/avatar-1.png" alt="avatar-1"
                            class="testimonials__item__card__avatar-box__avatar">
                    </figure>
                    <h3 class="testimonials__item__card__title">
                        Daniel lewis
                    </h3>
                    <div class="testmonials__item__card__textbox">
                        <p class="testmonials__item__card__textbox__text">
                            Richard was hired to create a corporate identity. We were very pleased with the work done.
                            She has a lot of experience and is very concerned about the needs of client. Lorem ipsum
                            dolor sit amet, ullamcous cididt consectetur adipiscing elit, seds do et eiusmod tempor
                            incididunt ut laborels dolore magnarels alia.
                        </p>
                    </div>
                </div>
            </li>
            <li (click)="toggleModal()" class="testimonials__item">
                <div class="testimonials__item__card">
                    <figure class="testimonials__item__card__avatar-box">
                        <img src="../../../../../../assets/images/avatar-1.png" alt="avatar-1"
                            class="testimonials__item__card__avatar-box__avatar">
                    </figure>
                    <h3 class="testimonials__item__card__title">
                        Daniel lewis
                    </h3>
                    <div class="testmonials__item__card__textbox">
                        <p class="testmonials__item__card__textbox__text">
                            Richard was hired to create a corporate identity. We were very pleased with the work done.
                            She has a lot of experience and is very concerned about the needs of client. Lorem ipsum
                            dolor sit amet, ullamcous cididt consectetur adipiscing elit, seds do et eiusmod tempor
                            incididunt ut laborels dolore magnarels alia.
                        </p>
                    </div>
                </div>
            </li>
            <li (click)="toggleModal()" class="testimonials__item">
                <div class="testimonials__item__card">
                    <figure class="testimonials__item__card__avatar-box">
                        <img src="../../../../../../assets/images/avatar-1.png" alt="avatar-1"
                            class="testimonials__item__card__avatar-box__avatar">
                    </figure>
                    <h3 class="testimonials__item__card__title">
                        Daniel lewis
                    </h3>
                    <div class="testmonials__item__card__textbox">
                        <p class="testmonials__item__card__textbox__text">
                            Richard was hired to create a corporate identity. We were very pleased with the work done.
                            She has a lot of experience and is very concerned about the needs of client. Lorem ipsum
                            dolor sit amet, ullamcous cididt consectetur adipiscing elit, seds do et eiusmod tempor
                            incididunt ut laborels dolore magnarels alia.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section class="clients">
        <h2 class="clients__title">
            Clients
        </h2>
        <ul class="clients__list">
            <li class="clients__list__item">
                <figure class="clients__list__item__client-box">
                    <img src="../../../../../../assets/images/logo-1-color.png" alt="logo-1-color"
                        class="clients__list__item__client-box__logo">
                </figure>
            </li>
            <li class="clients__list__item">
                <figure class="clients__list__item__client-box">
                    <img src="../../../../../../assets/images/logo-2-color.png" alt="logo-1-color"
                        class="clients__list__item__client-box__logo">
                </figure>
            </li>
            <li class="clients__list__item">
                <figure class="clients__list__item__client-box">
                    <img src="../../../../../../assets/images/logo-3-color.png" alt="logo-1-color"
                        class="clients__list__item__client-box__logo">
                </figure>
            </li>
            <li class="clients__list__item">
                <figure class="clients__list__item__client-box">
                    <img src="../../../../../../assets/images/logo-4-color.png" alt="logo-1-color"
                        class="clients__list__item__client-box__logo">
                </figure>
            </li>
            <li class="clients__list__item">
                <figure class="clients__list__item__client-box">
                    <img src="../../../../../../assets/images/logo-5-color.png" alt="logo-1-color"
                        class="clients__list__item__client-box__logo">
                </figure>
            </li>
            <li class="clients__list__item">
                <figure class="clients__list__item__client-box">
                    <img src="../../../../../../assets/images/logo-6-color.png" alt="logo-1-color"
                        class="clients__list__item__client-box__logo">
                </figure>
            </li>
        </ul>
    </section>

    <!-- Modal -->
    <app-modal (toggleModal)="toggleModal()" *ngIf="showModal">
        <div class="modal-wrapper">
            <figure class="button-group" (click)="toggleModal()">
                <img src="../../../../../../assets/icons/x-mark.svg" alt="x-mark" class="button-group__icon">
            </figure>
            <div class="avatar-group">
                <figure class="avatar-group__cover">
                    <img src="../../../../../../assets/images/avatar-1.png" alt="avatar-1"
                        class="avatar-group__cover__avatar">
                </figure>
                <img src="../../../../../../assets/images/icon-quote.svg" alt="icon-quote" class="avatar-group__icon">
            </div>
            <div class="content-group">
                <h2 class="content-group__name">
                    Daniel lewis
                </h2>
                <span class="content-group__date">
                    14 June, 2021
                </span>
                <p class="content-group__text">
                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                    lot
                    of experience and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous
                    cididt consectetur adipiscing elit, seds do et eiusmod tempor incididunt ut laborels dolore
                    magnarels
                    alia.
                </p>
            </div>
        </div>
    </app-modal>
</div>