<div class="wrapper">
    <header class="header">
        <h2 class="header__title">
            Blog
        </h2>
    </header>
    <section class="blog">
        <ul class="row blog__list">
            <li class="col l-6 m-6 c-12">
                <div class="blog__card">
                    <figure class="blog__card__image-group">
                        <img src="../../../../../../assets/images/blog-1.jpg" alt="blog-1" loading="lazy"
                            class="blog__card__image-group__image">
                    </figure>
                    <div class="blog__card__info-group">
                        <div class="blog__card__info-group__desc">
                            <span class="blog__card__info-group__desc__category">
                                Design
                            </span>
                            <span>|</span>
                            <span class="blog__card__info-group__desc__date">
                                Fab 23, 2022
                            </span>
                        </div>
                        <h3 class="blog__card__info-group__title">
                            Design Conferences 2022
                        </h3>
                        <p class="blog__card__info-group__text">
                            Veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col l-6 m-6 c-12">
                <div class="blog__card">
                    <figure class="blog__card__image-group">
                        <img src="../../../../../../assets/images/blog-2.jpg" alt="blog-2" loading="lazy"
                            class="blog__card__image-group__image">
                    </figure>
                    <div class="blog__card__info-group">
                        <div class="blog__card__info-group__desc">
                            <span class="blog__card__info-group__desc__category">
                                Design
                            </span>
                            <span>|</span>
                            <span class="blog__card__info-group__desc__date">
                                Fab 23, 2022
                            </span>
                        </div>
                        <h3 class="blog__card__info-group__title">
                            Best Fonts Every Desinger
                        </h3>
                        <p class="blog__card__info-group__text">
                            Sed ut perspiciatis, nam libero tempore, cum soluta nobis est eligendi.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col l-6 m-6 c-12">
                <div class="blog__card">
                    <figure class="blog__card__image-group">
                        <img src="../../../../../../assets/images/blog-3.jpg" alt="blog-3" loading="lazy"
                            class="blog__card__image-group__image">
                    </figure>
                    <div class="blog__card__info-group">
                        <div class="blog__card__info-group__desc">
                            <span class="blog__card__info-group__desc__category">
                                Design
                            </span>
                            <span>|</span>
                            <span class="blog__card__info-group__desc__date">
                                Fab 23, 2022
                            </span>
                        </div>
                        <h3 class="blog__card__info-group__title">
                            Design Digest #80
                        </h3>
                        <p class="blog__card__info-group__text">
                            Excepteur sint occaecat cupidatat no proident, quis nostrum exercitationem ullam corporis
                            suscipit.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col l-6 m-6 c-12">
                <div class="blog__card">
                    <figure class="blog__card__image-group">
                        <img src="../../../../../../assets/images/blog-4.jpg" alt="blog-4" loading="lazy"
                            class="blog__card__image-group__image">
                    </figure>
                    <div class="blog__card__info-group">
                        <div class="blog__card__info-group__desc">
                            <span class="blog__card__info-group__desc__category">
                                Design
                            </span>
                            <span>|</span>
                            <span class="blog__card__info-group__desc__date">
                                Fab 23, 2022
                            </span>
                        </div>
                        <h3 class="blog__card__info-group__title">
                            UI Interactions Of The Week
                        </h3>
                        <p class="blog__card__info-group__text">
                            Enim ad minim veniam, consectetur adipiscing elit, quis nostrud exercitation ullamco laboris
                            nisi.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col l-6 m-6 c-12">
                <div class="blog__card">
                    <figure class="blog__card__image-group">
                        <img src="../../../../../../assets/images/blog-5.jpg" alt="blog-5" loading="lazy"
                            class="blog__card__image-group__image">
                    </figure>
                    <div class="blog__card__info-group">
                        <div class="blog__card__info-group__desc">
                            <span class="blog__card__info-group__desc__category">
                                Design
                            </span>
                            <span>|</span>
                            <span class="blog__card__info-group__desc__date">
                                Fab 23, 2022
                            </span>
                        </div>
                        <h3 class="blog__card__info-group__title">
                            The Forgotten Art Of Spacing
                        </h3>
                        <p class="blog__card__info-group__text">
                            Maxime placeat, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col l-6 m-6 c-12">
                <div class="blog__card">
                    <figure class="blog__card__image-group">
                        <img src="../../../../../../assets/images/blog-6.jpg" alt="blog-6" loading="lazy"
                            class="blog__card__image-group__image">
                    </figure>
                    <div class="blog__card__info-group">
                        <div class="blog__card__info-group__desc">
                            <span class="blog__card__info-group__desc__category">
                                Design
                            </span>
                            <span>|</span>
                            <span class="blog__card__info-group__desc__date">
                                Fab 23, 2022
                            </span>
                        </div>
                        <h3 class="blog__card__info-group__title">
                            Design Digest #79
                        </h3>
                        <p class="blog__card__info-group__text">
                            Optio cumque nihil impedit uo minus quod maxime placeat, velit esse cillum.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>