<div class="wrapper" id="test">
    <div class="header">
        <img src="../../../../../assets/images/my-avatar.png" alt="user-avatar" class="header__avatar">
        <div class="header__info-group">
            <span class="header__name">
                Richard Parker
            </span>
            <span class="header__title">
                Web Developer
            </span>
        </div>
        <button (click)="showContact()" class="header__show-contact">
            Show Contacts
        </button>
        <button (click)="showContact()" class="header__show-contact-mobile">
            <img src="../../../../../assets/icons/down.svg" alt="down-icon" class="header__show-contact-mobile-icon">
        </button>
    </div>
    <div class="body" id="body">
        <div class="body__detail-info">
            <div class="body__detail-info__icon-box">
                <img src="../../../../../assets/icons/email.svg" alt="email-icon" class="body__detail-info__icon">
            </div>
            <div class="body__detail-info__content">
                <span class="body__detail-info__content-title">
                    EMAIL
                </span>
                <span class="body__detail-info__content-text">
                    richardparker@gmail.com
                </span>
            </div>
        </div>
        <div class="body__detail-info">
            <div class="body__detail-info__icon-box">
                <img src="../../../../../assets/icons/phone.svg" alt="email-icon" class="body__detail-info__icon">
            </div>
            <div class="body__detail-info__content">
                <span class="body__detail-info__content-title">
                    PHONE
                </span>
                <span class="body__detail-info__content-text">
                    0905123123
                </span>
            </div>
        </div>
        <div class="body__detail-info">
            <div class="body__detail-info__icon-box">
                <img src="../../../../../assets/icons/calender.svg" alt="email-icon" class="body__detail-info__icon">
            </div>
            <div class="body__detail-info__content">
                <span class="body__detail-info__content-title">
                    BIRTHDAY
                </span>
                <span class="body__detail-info__content-text">
                    November 11, 2000
                </span>
            </div>
        </div>
        <div class="body__detail-info">
            <div class="body__detail-info__icon-box">
                <img src="../../../../../assets/icons/location.svg" alt="email-icon" class="body__detail-info__icon">
            </div>
            <div class="body__detail-info__content">
                <span class="body__detail-info__content-title">
                    LOCATION
                </span>
                <span class="body__detail-info__content-text word-break">
                    30 Saint of Hills, French, Earth
                </span>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <img src="../../../../../assets/icons/facebook.svg" alt="facebook-icon" class="footer__icon">
        <img src="../../../../../assets/icons/twitter.svg" alt="twitter-icon" class="footer__icon">
        <img src="../../../../../assets/icons/instagram.svg" alt="instagram-icon" class="footer__icon">
    </div>
</div>