<div class="wrapper">
    <header class="header">
        <h2 class="header__title">
            Contract
        </h2>
    </header>
    <section class="mapbox">
        <iframe title="google-map" class="mapbox__map-frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199666.5651251294!2d-121.58334177520186!3d38.56165006739519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ac672b28397f9%3A0x921f6aaa74197fdb!2sSacramento%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1647608789441!5m2!1sen!2sbd"
            loading="lazy">
        </iframe>
    </section>
    <section class="form">
        <h3 class="form__title">
            Contact Form
        </h3>
        <form>
            <div class="row first-input-group">
                <div class="col l-6 m-6 c-12">
                    <div class="form__control">
                        <input placeholder="Full name" type="text" class="form__control__input">
                    </div>
                </div>
                <div class="col l-6 m-6 c-12">
                    <div class="form__control">
                        <input placeholder="Email address" type="text" class="form__control__input">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l-12 m-12 c-12">
                    <div class="form__control">
                        <textarea placeholder="Your Message" class="form__control__textarea"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="form__button-group">
            <button class="form__button-group__button">
                <figure class="form__button-group__button-icon">
                    <img src="../../../../../../assets/icons/plane.svg" alt="plane-icon" class="form__button-group__button-icon__image">
                </figure>
                <span class="form__button-group__button__text">
                    Send Message
                </span>
            </button>
        </div>
    </section>
</div>