<div class="wrapper">
    <header class="header">
        <h2 class="header__title">
            Resume
        </h2>
    </header>
    <section class="timeline">
        <h3 class="timeline__title">
            <figure class="timeline__title__icon-box">
                <img src="../../../../../../assets/icons/book.svg" alt="book-icon"
                    class="timeline__title__icon-box__icon">
            </figure>
            Education
        </h3>
        <ul class="timeline__list">
            <li class="timeline__list__item">
                <h4 class="timeline__list__item__title">
                    University School Of The Arts
                    <div class="timeline__list__item__title__milestone-box">
                        <div class="timeline__list__item__title__milestone-box__outer-circle">
                            <div class="timeline__list__item__title__milestone-box__inner-circle"></div>
                        </div>
                    </div>
                </h4>
                <span class="timeline__list__item__duration">
                    2007 - 2008
                </span>
                <p class="timeline__list__item__text">
                    Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                    quas molestias exceptur.
                </p>
            </li>
            <li class="timeline__list__item">
                <h4 class="timeline__list__item__title">
                    New york academy of art
                    <div class="timeline__list__item__title__milestone-box">
                        <div class="timeline__list__item__title__milestone-box__outer-circle">
                            <div class="timeline__list__item__title__milestone-box__inner-circle"></div>
                        </div>
                    </div>
                </h4>
                <span class="timeline__list__item__duration">
                    2006 — 2007
                </span>
                <p class="timeline__list__item__text">
                    Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus, omnis voluptas assumenda
                    est omnis..
                </p>
            </li>
            <li class="timeline__list__item">
                <h4 class="timeline__list__item__title">
                    High school of art and design
                    <div class="timeline__list__item__title__milestone-box">
                        <div class="timeline__list__item__title__milestone-box__outer-circle">
                            <div class="timeline__list__item__title__milestone-box__inner-circle"></div>
                        </div>
                    </div>
                </h4>
                <span class="timeline__list__item__duration">
                    2002 — 2004
                </span>
                <p class="timeline__list__item__text">
                    Duis aute irure dolor in reprehenderit in voluptate, quila voluptas mag odit aut fugit, sed
                    consequuntur magni dolores eos.
                </p>
            </li>
        </ul>
    </section>
    <section class="timeline">
        <h3 class="timeline__title">
            <figure class="timeline__title__icon-box">
                <img src="../../../../../../assets/icons/experience.svg" alt="book-icon"
                    class="timeline__title__icon-box__icon">
            </figure>
            Experience
        </h3>
        <ul class="timeline__list">
            <li class="timeline__list__item">
                <h4 class="timeline__list__item__title">
                    Creative director
                    <div class="timeline__list__item__title__milestone-box">
                        <div class="timeline__list__item__title__milestone-box__outer-circle">
                            <div class="timeline__list__item__title__milestone-box__inner-circle"></div>
                        </div>
                    </div>
                </h4>
                <span class="timeline__list__item__duration">
                    2015 — Present
                </span>
                <p class="timeline__list__item__text">
                    Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                    qvuas molestias exceptur.
                </p>
            </li>
            <li class="timeline__list__item">
                <h4 class="timeline__list__item__title">
                    Art director
                    <div class="timeline__list__item__title__milestone-box">
                        <div class="timeline__list__item__title__milestone-box__outer-circle">
                            <div class="timeline__list__item__title__milestone-box__inner-circle"></div>
                        </div>
                    </div>
                </h4>
                <span class="timeline__list__item__duration">
                    2013 — 2015
                </span>
                <p class="timeline__list__item__text">
                    Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus, omnis voluptas assumenda
                    est omnis..
                </p>
            </li>
            <li class="timeline__list__item">
                <h4 class="timeline__list__item__title">
                    Web designer
                    <div class="timeline__list__item__title__milestone-box">
                        <div class="timeline__list__item__title__milestone-box__outer-circle">
                            <div class="timeline__list__item__title__milestone-box__inner-circle"></div>
                        </div>
                    </div>
                </h4>
                <span class="timeline__list__item__duration">
                    2010 — 2013
                </span>
                <p class="timeline__list__item__text">
                    Duis aute irure dolor in reprehenderit in voluptate, quila voluptas mag odit aut fugit, sed
                    consequuntur magni dolores eos.
                </p>
            </li>
        </ul>
    </section>
    <section class="my-skill">
        <h2 class="my-skill__title">
            My skills
        </h2>
        <ul class="my-skill__list">
            <li class="my-skill__list__item">
                <div class="my-skill__list__item__title-group">
                    <span class="my-skill__list__item__title-group__title">
                        Web Design
                    </span>
                    <span class="my-skill__list__item__title-group__percentage">
                        80%
                    </span>
                </div>
                <div class="my-skill__list__item__progress-group">
                    <div class="my-skill__list__item__progress-group__progress-bar" style="width: 80%"></div>
                </div>
            </li>
            <li class="my-skill__list__item">
                <div class="my-skill__list__item__title-group">
                    <span class="my-skill__list__item__title-group__title">
                        Graphic Design
                    </span>
                    <span class="my-skill__list__item__title-group__percentage">
                        70%
                    </span>
                </div>
                <div class="my-skill__list__item__progress-group">
                    <div class="my-skill__list__item__progress-group__progress-bar" style="width: 70%"></div>
                </div>
            </li>
            <li class="my-skill__list__item">
                <div class="my-skill__list__item__title-group">
                    <span class="my-skill__list__item__title-group__title">
                        Branding
                    </span>
                    <span class="my-skill__list__item__title-group__percentage">
                        90%
                    </span>
                </div>
                <div class="my-skill__list__item__progress-group">
                    <div class="my-skill__list__item__progress-group__progress-bar" style="width: 90%"></div>
                </div>
            </li>
            <li class="my-skill__list__item">
                <div class="my-skill__list__item__title-group">
                    <span class="my-skill__list__item__title-group__title">
                        WordPress
                    </span>
                    <span class="my-skill__list__item__title-group__percentage">
                        50%
                    </span>
                </div>
                <div class="my-skill__list__item__progress-group">
                    <div class="my-skill__list__item__progress-group__progress-bar" style="width: 50%"></div>
                </div>
            </li>
        </ul>
    </section>
</div>