.wrapper {
    border-radius: var(--border-radius-3);
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
    position: relative;
    padding: 30px;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #282829;
    padding: 0 20px;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: var(--border-radius-3);
    border-top-right-radius: var(--border-radius-3);
    z-index: 1;
}

.navbar__list {
    display: flex;
    padding: 0 20px;
    column-gap: 24px;
}

.navbar__list__item__btn {
    color: var(--text-color);
    padding: 18px 9px;
}

.navbar__list__item__btn:hover {
    color: var(--light-gray-70);
    transition: color var(--transition-1);
}

@media (max-width: 739px) {
    .navbar {
        font-size: var(--fs-7);
        border-top-right-radius: 12px !important;
        border-top-left-radius: 12px !important;
    }
}

@media (max-width: 1023px) {
    .wrapper {
        padding: 15px;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        z-index: 3;
        width: 100%;
        background: hsla(240, 1%, 17%, 0.75);
        backdrop-filter: blur(10px);
        border-radius: 0px;
        border-top-right-radius: var(--border-radius-2);
        border-top-left-radius: var(--border-radius-2);
    }

    .navbar__list {
        justify-content: center;
        align-items: center;
    }
}